extends layout

block content
  img(src="/images/foto-wide.jpg")
  
  .container
    .span12
      #cuando.row.wed-row
        .span3
          img(src="/flat/images/icons/Calendar@2x.png",alt="")
        .span9
          h2 Cuándo
          p El próximo 31 de Agosto.
      #como.row.wed-row
        .span3
          img(src="/flat/images/icons/Map@2x.png",alt="")
        .span9
          h2 Cómo llegar
          p 
            a(href="https://maps.google.es/maps?f=q&source=s_q&hl=en&geocode=+&q=Caballos+La+Vereda&ie=UTF8&hq=&hnear=Riaza,+Segovia,+Castile+and+Le%C3%B3n&ll=41.307084,-3.477763&spn=0.002934,0.005681&t=m&z=18&vpsrc=6&iwloc=A&cid=7169663192889518854",target="_blank") Hípica la Vereda 
            br
            small Ctra. N110. Km 113.5. Riaza. Segovia
      #instrucciones.row.wed-row
        .span3
          img(src="/flat/images/icons/Clipboard@2x.png",alt="")
        .span9
          h2 Instrucciones
          p Ponéos guapos, pero sobre todo cómodos y acompañadnos en este día tan especial.
      #contacto.row.wed-row
        .span3
          img(src="/flat/images/icons/Mail@2x.png",alt="")
        .span9
          h2 Contacto
          p
            a(href="mailto:boda@azaharaynacho.com") boda@azaharaynacho.com
      #chat.row.wed-row
       .span3
          img(src="/flat/images/icons/Dude@2x.png",alt="")
        .span9
          h2 Chat Experimental :D
          #content
          div
            span#status Connecting...
            input#input(type="text",disabled="disabled")
        
       