extends layout

block content
  img(src="/images/foto-wide.jpg")
  
  .container
    .span12
      #cuando.row.wed-row
        .span3
          img(src="/flat/images/icons/Calendar@2x.png",alt="")
        .span9
          h2 Cuándo
          p El próximo 31 de Agosto.
      #como.row.wed-row
        .span3
          img(src="/flat/images/icons/Map@2x.png",alt="")
        .span9
          h2 Cómo llegar
          p 
            a(href="https://maps.google.es/maps?f=q&source=s_q&hl=en&geocode=+&q=Caballos+La+Vereda&ie=UTF8&hq=&hnear=Riaza,+Segovia,+Castile+and+Le%C3%B3n&ll=41.307084,-3.477763&spn=0.002934,0.005681&t=m&z=18&vpsrc=6&iwloc=A&cid=7169663192889518854",target="_blank") Hípica la Vereda 
            br
            small Ctra. N110. Km 113.5. Riaza. Segovia
      #instrucciones.row.wed-row
        .span3
          img(src="/flat/images/icons/Clipboard@2x.png",alt="")
        .span9
          h2 Instrucciones
          p Ponéos guapos, pero sobre todo cómodos y acompañadnos en este día tan especial.
          
            
      #contacto.row.wed-row
        .span3
          img(src="/flat/images/icons/Mail@2x.png",alt="")
        .span9
          h2 Contacto
          p
            a(href="mailto:boda@azaharaynacho.com") boda@azaharaynacho.com
      #chat.row.wed-row
        .span3
          img(src="/flat/images/icons/Dude@2x.png",alt="")
        .span9
          h2 Chat Experimental :D
          #content
          div
            span#status Connecting...
            input#input(type="text",disabled="disabled")
            
      #alojamiento.row.wed-row
        .span3
          img(src="/flat/images/icons/Trip-Bag@2x.png",alt="")
        .span9
          h2 Sugerencias Alojamientos
          
          br 

          .lugar
            h4 Casa Quemada
            p 
              b Descripción: 
              span 8 habitaciones dobles y 1 habitación individual Dispone de restaurante, bar cafetería y terraza.
            p 
              b Dirección: 
              span C/ Isidro Rodríguez, 18 40500 RIAZA (SEGOVIA)
            p 
              b Teléfono: 
              span 921 55 00 51 / fax 921 55 06 04
            p 
              b Página web: 
              a(href="http://www.casaquemadariaza.com") www.casaquemadariaza.com
            p 
              b Precio: 
              span Habitación doble: 55€
            
            hr
            
            h4 Casa Pastor
            p 
              b Descripción: 
              span 5 apartamentos de 4 personas y 2 de 6 personas
            p 
              b Dirección: 
              span C/ Iglesia, 2 40500 RIAZA (SEGOVIA)
            p 
              b Teléfono: 
              span 921 55 02 83 / 696 27 81 19 Fax: 921 55 02 83
            p 
              b Email: 
              span casapastor@hotmail.com
            p 
              b Precio: 
              span Habitación doble: 55€, Apartamento 4 personas: 72€, Apartamento 7 personas: 100€
             
            hr
             
            h4 Hotel Plaza
            p 
              b Descripción: 
              span 15 habitaciones dobles
            p 
              b Dirección: 
              span Plaza Mayor, 4 40500 RIAZA (SEGOVIA)
            p 
              b Teléfono: 
              span 921 55 10 55
            p 
              b Página web: 
              span www.hoterplazariaza.com
            p 
              b Precio: 
              span Habitación doble: 45€
            
            hr
            
            h4 Apartamentos Monte Hernanz
            p 
              b Dirección: 
              span CL. EUGENIO HERNANZ GÓMEZ, 5 40500 RIAZA (SEGOVIA)
            p 
              b Teléfono: 
              span 652 98 22 42 Fax: 921 55 00 04
            p 
              b Página web: 
              span www.montehernanz.com
            p 
              b Precio: 
              span Habitación doble: 77€, Apartamiento 4 personas: 110€
            
            hr
            
            h4 Centro de turismo rural La Romerosa
            p 
              b Capacidad: 
              span 38 habitaciones
            p 
              b Dirección: 
              span Calle Val Bajo, 34 40500 RIAZA (SEGOVIA)
            p 
              b Teléfono: 
              span 921 55 05 03/ 659 98 22 42
            p 
              b Página web: 
              a(href="http://www.laromerosa.es") www.laromerosa.es
            p 
              b Precio: 
              span Habitación doble: 55€
            
            hr
            
            h4 Más información:
            p 
              a(href="http://www.riaza.es/donde-dormir") http://www.riaza.es/donde-dormir

        
       