extends layout

block content
  img(src="/images/foto-wide.jpg")
  
  .container
    .span12
      #cuando.row.wed-row
        .span3
          img(src="/flat/images/icons/Calendar@2x.png",alt="")
        .span9
          h2 Cuándo
          p El próximo 31 de Agosto.
      #como.row.wed-row
        .span3
          img(src="/flat/images/icons/Map@2x.png",alt="")
        .span9
          h2 Cómo llegar
          p 
            a(href="https://www.google.es/maps/preview#!data=!1m4!1m3!1d808!2d-3.4782786!3d41.3073361!4m37!3m16!1m0!1m5!1sCaballos+La+Vereda%2C+Ctra.+N-110%2C+Km.+113%2C5%2C+40500+Riaza%2C+Segovia!2s0xd440d57c74e7ca3%3A0x637fc2affb5f6b06!3m2!3d41.307511!4d-3.478621!3m8!1m3!1d808!2d-3.4782786!3d41.3073361!3m2!1i1440!2i828!4f13.1!5m17!2m16!1m14!1s0x0%3A0x637fc2affb5f6b06!2sCaballos+La+Vereda!3m8!1m3!1d808!2d-3.4782786!3d41.3073361!3m2!1i1440!2i828!4f13.1!4m2!3d41.3075116!4d-3.4786212!6shipica+la+vereda!7m1!3b1&fid=0",target="_blank") Hípica la Vereda 
            br
            small Ctra. N110. Km 113.5. Riaza. Segóvia
      #instrucciones.row.wed-row
        .span3
          img(src="/flat/images/icons/Clipboard@2x.png",alt="")
        .span9
          h2 Instrucciones
          p Ponéos guapos, pero sobre todo cómodos y acompañadnos en este día tan especial.
      #contacto.row.wed-row
        .span3
          img(src="/flat/images/icons/Mail@2x.png",alt="")
        .span9
          h2 Contacto
          p
            a(href="mailto:boda@azaharaynacho.com") boda@azaharaynacho.com
  // p Bienvenidos a la boda de Azahara y Nacho