doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    title Boda Azahara y Nacho - 31 de Agosto
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    
    // Loading Bootstrap
    link(rel='stylesheet', href='/flat/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/flat/bootstrap/css/bootstrap-responsive.css')
    
    // Loading Flat UI
    link(rel='stylesheet', href='/flat/css/flat-ui.css')
    
    link(rel='shortcut icon', href='/flat/images/favicon.ico')
    
    //HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
    //if lt IE 9 
      script(type='text/javascript',src="/flat/js/html5shiv.js")
    
    
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
          .navbar.mainbar
            .navbar-inner
              .container
                    button.btn.btn-navbar(type="button",data-toggle="collapse",data-target="#nav-collapse-01")
                    a.brand(href="#fakelink") 
                      span Azahara 
                      span.fui-heart &nbsp;
                      span Nacho
                    #nav-collapse-01.nav-collapse.collapse
                      ul.pull-right.nav
                        li
                          a(href="/#cuando") Cuándo
                        li
                          a(href="/#como") Cómo llegar
                        li
                          a(href="/#instrucciones") Instrucciones
                        li
                          a(href="/#alojamiento") Alojamiento
                        li
                          a(href="/#contacto") Contacto
                        li
                          a(href="/#chat") ¡Deja tu mensaje!
                        li
                          a(href="/login") Login
                          
                         
    
    #main-container
      block content
      
      
    .bottom-menu
      .container
        .row
          .span4.brand
            a(href="#fakelink") 
              span Azahara 
              span.fui-heart &nbsp;
              span Nacho
          //.span6
          //  ul.bottom-links
          //    li 
          //      a About Us
             
          //.span2
          //  ul.bottom-icons
          //    li 
          //      a.fui-pinterest
          //    li 
          //      a.fui-facebook
          //    li 
          //      a.fui-twitter
              
                   
  script(type='text/javascript',src="/flat/js/jquery-1.8.3.min.js")
  script(type='text/javascript',src="/flat/js/jquery-ui-1.10.3.custom.min.js")
  script(type='text/javascript',src="/flat/js/jquery.ui.touch-punch.min.js")
  script(type='text/javascript',src="/flat/js/bootstrap.min.js")
  script(type='text/javascript',src="/flat/js/bootstrap-select.js")
  script(type='text/javascript',src="/flat/js/bootstrap-switch.js")
  script(type='text/javascript',src="/flat/js/flatui-checkbox.js")
  script(type='text/javascript',src="/flat/js/flatui-radio.js")
  script(type='text/javascript',src="/flat/js/jquery.tagsinput.js")
  script(type='text/javascript',src="/flat/js/jquery.placeholder.js")
  script(type='text/javascript',src="/flat/js/jquery.stacktable.js")
  script(type='text/javascript',src="/javascripts/socket.io.min.js")
  script(type='text/javascript',src="/javascripts/websockets.js")
  