extends single

block content
      h2 Login
      
      if error
        .alert.alert-error
          button.close.fui-cross(type="button",data-dismiss="alert")
          span #{error}
        
      form.register#login(method='post', action='/login')
        div
          label Username:
          input.span3(name='username', value=username || '', type='text')

        div
          label Contraseña:
          input.span3(name='password', value=password || '', type='password')
          
        div
          input.btn-block.btn.btn-primary(type='submit', value='Login')
          a(href="/register") Register 
          
       
        
       