#main-container {
  min-height: 600px;
}
.navbar.mainbar {
  margin-bottom: 0px;
}
.row.wed-row {
  margin-top: 100px;
}
.bottom-menu {
  margin-top: 100px;
}
#content {
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  overflow-y: scroll;
  border: 1px solid #CCC;
  margin-top: 10px;
  height: 160px;
}
.small-width {
  width: 350px;
}
.centered {
  margin-right: auto;
  margin-left: auto;
}
